.close-wrapper{
    width: 30px;
    text-align: left;
}

.main-container{
    background: white;
    border-radius: 10px;
}

.cusotm-input{
    background: palegreen;
    height: 60px;
    margin: 10px 0;
    border-radius: 10px;
}

img{
    border-radius: 10px;
}

video{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

.play-button{
    position: absolute;
    color: white;
    left: 33%;
    top: 14px;
}

.btn-home{
    margin-right: 20px;
    font-size: x-large;
}