<ion-header>
  <ion-toolbar>
    <ion-title>Question 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <div class="main-container">
    <div style="padding: 10px;">
      <img src="https://i.stack.imgur.com/GZgel.png" alt="Lanka Games" (click)="showImage('https://i.stack.imgur.com/GZgel.png')">
      <ion-label style="font-size: 20px;">In the above question number of triangle are?</ion-label>
      <ion-input type="tel" class="cusotm-input" placeholder="Your answer here"></ion-input>
    </div>
  
    <div class="btn-next-wrapper">
      <ion-button class="btn-submit" shape="round" fill="outline" style="margin-right: 20px;" (click)="closeModal()">Submit</ion-button>
      <ion-button class="btn-next" shape="round" (click)="next()">Next</ion-button>
    </div>
  </div>
  
</ion-content>
