<ion-header>  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose your preffered category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image-light">
  <div class="main-container">
    <div *ngFor="let item of category">
      <ion-button shape="round" class="custom-btn" (click)="choosedCategory(item.id)">{{item.name}}</ion-button>
    </div>    
  </div>
</ion-content>
