.btn-next-wrapper{
    position: fixed;
    top: 92%;
    width: 100%;
    text-align: center;
}

.loader{
    width: -webkit-fill-available;
    text-align: center;
    position: fixed;
    top: 48%;
    font-size: larger;
}