<ion-header>
  <ion-toolbar>
    <ion-title>Question 1</ion-title>
    <div slot="end" class="close-wrapper">
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(127, 255, 138);">
  <div style="padding: 10px;">
    <img src="https://kiasl-content.s3.ap-southeast-1.amazonaws.com/uploads/promotion/2021/11/c2d9138028_1638255154.jpg" alt="Lanka Games">
    
    <ion-list>
      <ion-radio-group (ionChange)="selectedAnswer($event)">
        <ion-list-header>
          <ion-label>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore facilis odio totam quisquam, ea magni neque sit minus molestiae, ut aut voluptatem amet eligendi praesentium? Dolorum tenetur cum rem necessitatibus?
          </ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let item of answers; let i = index">          
          <!-- <label style="overflow-wrap: break-word">consectetur, adipisicing elit. Debitis omnis quia illo minima impedit </label>-->
          <label style="overflow-wrap: break-word">{{item[1].answer}}</label>
          <ion-radio slot="start" value="{{item[0].value}}"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>

  </div>
</ion-content>
