.close-wrapper{
    width: 30px;
    text-align: left;
}

// .thumbnail{
//     width: 40px;    
// }

video{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

img{
    border-radius: 10px;
}

.play-button{
    position: absolute;
    color: white;
    left: 33%;
    top: 14px;
}

.main-container{
    margin: 0 10px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.btn-home{
    margin-right: 20px;
    font-size: x-large;
}