.phone-wrapper{
    font-size: x-large;    
    letter-spacing: 2px;
    color: #446d76;
    margin-left: 20px;
}
ion-item{
    --background: transparent;
}

@media (min-width: 500px) {
    .app-wrapper {
        width: 500px;
        margin: auto;
    }
}