/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap");

.background-image{
    // --background: darkseagreen;
    --background: #e9f9ee;
}

.background-image-light{
    --background: #e9f9ee;
}
// .custom-modal{
//     height: 90%;
// }

.btn-next{
    color: white;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: none;
    --background: linear-gradient(4deg, #60dca0 0%, #18c1b2 100%);
}

.btn-submit{
    color: #292929;
    width: 120px;
    height: 40px;
    line-height: 40px;
    --border-color: #9eb1b1;
    --background: transparent;
}

.btn-next-wrapper{
    width: 100%;
    text-align: end;
    padding: 10px;
}

.topics{
    font-size: 18px;
    margin: unset;
}

ion-toolbar{
    --background:#c8f1d4;
}




.alert-wrapper.sc-ion-alert-md {
    background: #e9f9ee;
    border: 1px solid #446d76;
    border-radius: 10px;
    color: #446d76;
}

.alert-button-inner.sc-ion-alert-md {
    color: #446d76;
}

.alert-title.sc-ion-alert-md {
    color: #446d76;
    font-size: 24px;
    font-weight: 500;
}

.alert-message.sc-ion-alert-md {
    max-height: 240px;
    font-size: 20px;
    color: #446d76;
}

.alert-radio-label.sc-ion-alert-md {
    color: #446d76;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #446d76;
}

.alert-radio-inner.sc-ion-alert-md {
    background-color: #446d76;
}

.alert-radio-group.sc-ion-alert-md, .alert-checkbox-group.sc-ion-alert-md {    
    border-top: 1px solid #446d76;
    border-bottom: 1px solid #446d76;
}



//To web view

body{
    background: #446d76;
}

.modal-wrapper.sc-ion-modal-md {
    height: -webkit-fill-available;
}