<ion-header>
  <ion-toolbar>
    <ion-title style="padding: unset;">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><img src="../../assets/images/Lanka Games Icon.png"></ion-col>
          <ion-col size="6" style="color: #446d76;">
            <ion-label>Lanka Games</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-select class="custom-select" value="{{service.language}}" (ionChange)="changeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="si">සිංහල</ion-select-option>
              <ion-select-option value="ta">தமிழ்</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="test" style="padding: 20px;">
    <div *ngFor="let item of gameList; let i = index" class="container" (click)="gotoOption(i)">
      <img [src]="item.src">
      <h1>
        <ion-label class="lbl-on-image">{{item.name}}</ion-label>
      </h1>
    </div>
  </div>

  <ion-button (click)="fullScreenSwitch()">Full Screen: {{!service.halfScreen}}</ion-button>
</ion-content>